[project]
	description = Github multirotor project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/multirotor
[access "refs/for/refs/*"]
	read = group user/multirotor
	push = group user/multirotor
	label-Code-Review = -2..+2 group user/multirotor
	label-Verified = -1..+1 group user/multirotor
	rebase = group user/multirotor
	removeReviewer = group user/multirotor
	submit = group user/multirotor
[access "refs/heads/*"]
	read = group user/multirotor
	create = group user/multirotor
	push = +force group user/multirotor
	pushMerge = group user/multirotor
[access "refs/tags/*"]
	push = +force group user/multirotor
	pushTag = group user/multirotor
	pushSignedTag = group user/multirotor
